body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3, h1 {
    background: #0a58ca;
    color: white;
    opacity: .7;
}

ul.list-group.search-history {
    list-style: none;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card {
    opacity: 0.7;
    background-color: black;
    color: white;
    
}

.col-12.col-md-2.col-lg-2 {
    background: black;
    color: white;
    opacity: .7;
}

.flex {
    display: flex;
    align-items: center;
}

.card.loading {
    visibility: hidden;
}